*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

/*------------------------header------------------------------*/
.header {
    padding: 20px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav--list {
    display: flex;
}

.header__list-item:not(:last-child) {
    margin-right: 24px;
}

.header__list-link {
    color: #2c2c2c;
    font-weight: 500;
    font-size: 14px;
    line-height: 285%;
    letter-spacing: 0.14px;
    transition: all .3s;
    border-bottom: 1px solid transparent;
}

.header__list-link:hover {
    border-bottom: 1px solid #2c2c2c;
}

.header__interaction {
    display: flex;
    align-items: center;
}

.header__interaction>*:not(:last-child) {
    margin-right: 24px;
}

.header__interacton-in {
    color: #2c2c2c;
    font-weight: 500;
    font-size: 14px;
    line-height: 285%;
    letter-spacing: 0.14px;
}

.header__interaction-mobile {
    display: none;
    gap: 20px;
    align-items: center;
    z-index: 50;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger__line {
    position: relative;
    width: 20px;
    height: 3px;
    background-color: #2c2c2c;
    transition: all .3s;

}

.burger:is(.open) {
    gap: 0px;
}

.burger:is(.open) .burger__line:nth-child(1) {
    transform: rotate(45deg);
    top: 1.5px;
}

.burger:is(.open) .burger__line:nth-child(2) {
    display: none;
}

.burger:is(.open) .burger__line:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 1.5px;
}

.mobile {
    display: none;
}

/*------------------------header------------------------------*/

/*------------------------button------------------------------*/
.button {
    color: #fff;
    padding: 4px 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 285%;
    letter-spacing: 0.14px;
    background: #FD665E;
    border-radius: 4px;
    transition: all .3s;
}

.button:hover {
    background: #ff493f;
}

/*------------------------button------------------------------*/

/*------------------------House------------------------------*/

.house {
    padding: 64px 0;
}

.house__title {
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.92px;
    max-width: 60%;
    margin-bottom: 64px;
}

.house__title>span {
    color: #FD665E;
}

.house__content {
    display: flex;
    gap: 98px;

}

.house__content-left {
    max-width: 305px;
}

.house__content-text {
    line-height: 160%;
    letter-spacing: 0.16px;
    margin-bottom: 40px;
}

.house__content-button {
    padding: 19px 32px;
}

.house__content-img {
    max-width: 100%;
    height: auto;

}

/*------------------------House------------------------------*/
/*------------------------Room------------------------------*/
.room {
    padding: 80px 0;
}


.room__top {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room__title {
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.92px;
}

.room__btns {
    display: flex;
    gap: 8px;
    align-self: flex-end;
}

.room__btn {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.03);
    background-image: url('../img/arrowBtn.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.room__btn:last-child {
    transform: rotateY(180deg);
}


.slider {
    max-width: 1200px;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: all .3s;
}

.slider__item-img {
    object-fit: cover;
    max-width: 305px;
    height: auto;
}

.slider__item-img:not(:last-child) {
    margin-right: 40px;
}

/*------------------------Room------------------------------*/

/*------------------------build------------------------------*/
.build {
    padding: 80px 0;
}

.build__wrapper {
    display: flex;
    margin-bottom: 64px;
}

.build__img {
    max-width: 100%;
    height: auto;
}

.build__wrapper-content {
    padding: 30px 114px;
}

.build__content-title {
    font-size: 46px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.92px;
    margin-bottom: 40px;
}

.build__content-box:not(:last-child) {
    margin-bottom: 40px;
}

.build__content-box {
    display: flex;
}

.build__box-img {
    align-self: start;
    margin-right: 38px;
}

.build__box-subtitle {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.16px;
    margin-bottom: 8px;
}

.build__box-text {
    line-height: 160%;
    letter-spacing: 0.16px;
}

.build__button {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 187px;
}

/*------------------------build------------------------------*/

/*------------------------comments------------------------------*/
.comments {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}

.comments__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 124%;
    letter-spacing: -0.96px;
    margin-bottom: 64px;
}

.comments__wrapper {
    max-width: 870px;
    padding-left: 105px;
    padding-bottom: 25px;
    margin-left: 240px;
    overflow: hidden;
}

.comments__slider {
    z-index: 40;
    position: relative;
    display: flex;
    transition: all .3s;
}

.comments__slider-item {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 765px;
    flex: 1 0 100%;

}

.comments__slider-item:not(:last-child) {
    margin-right: 105px;
}

.comments__slider-item::before {
    position: absolute;
    content: ' ';
    background: url('../img/comma.svg') no-repeat;
    width: 58px;
    height: 39px;
    left: -105px;
    top: 5px;
}

.comments__item-text {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.36px;
    margin-bottom: 59px;
}

.comments__item-subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.16px;
}

.comments__btns {
    z-index: 50;
    position: absolute;
    right: 0;
    bottom: -12px;
}

/*------------------------comments------------------------------*/

/*------------------------dream------------------------------*/
.dream {
    padding: 64px 0;
    background: linear-gradient(180deg, #F9F9F9 0%, rgba(255, 255, 255, 0.00) 100%);
}

.dream__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    align-items: center;
    justify-content: center;

}

.dream__img {
    max-width: 100%;
    height: auto;
    background-color: transparent;
}

.dream__content {
    max-width: 623px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dream__content-text {
    max-width: 460px;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: -1.28px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 48px;

}

.dream__content-text>span {
    color: #FD665E;
}

.dream__content-button {}

.button {}

/*------------------------dream------------------------------*/

/*------------------------partners------------------------------*/
.partners {
    padding: 64px 0 48px;
}

.partners__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -1.92px;
    margin-bottom: 40px;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 55px;
}

.partners__item-link {
    padding: 16px;
}

.partners__item-img {
    fill: gray;
}

/*------------------------partners------------------------------*/


/*------------------------footer------------------------------*/
.footer {
    padding: 80px 0;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
}

.footer__nav-list {
    display: flex;
}


.nav__list-item:not(:last-child) {
    margin-right: 40px;
}

.nav__item-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 286%;
    color: inherit;
    letter-spacing: 0.14px;
    transition: all .3s;
    padding-bottom: 2px;
}

.nav__item-link:hover {
    border-bottom: 1px solid black;
}

.footer__img-link {}

.footer__img-img {}


/*------------------------footer------------------------------*/



/*------------------------768px------------------------------*/
@media (max-width:767.99px) {

    /*------------------------header------------------------------*/
    .header__interaction {
        display: none;
    }

    .header__interaction-mobile {
        display: flex;
    }

    .header__list {
        
        position: absolute;
        top: 0px;
        left: 0;
        height: 100vh;
        width: 60vw;
        z-index: 30;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-right: 1px solid #F9F9F9;
        transition: all .3s;
        transform: translateX(-500px);
    }

    .header__list--open {
        transform: translate(0px);
        

    }

    .header__list-item:not(:last-child) {
        margin-right: 0;
    }

    .mobile {
        display: flex;
    }

    /*------------------------header------------------------------*/
    /*------------------------House------------------------------*/
    .house__title {
        font-size: 48px;
        max-width: 55%;
    }

    .house__content {
        flex-wrap: wrap;
    }

    .house__content-left {
        max-width: 305px;
    }

    /*------------------------House------------------------------*/
    /*------------------------dream------------------------------*/
    .dream__content-text{
        font-size: 48px;
    }
 
     /*------------------------dream------------------------------*/
    /*------------------------partners------------------------------*/
    .partners__title {
       text-align: center;
    }

    /*------------------------partners------------------------------*/

    /*------------------------footer------------------------------*/
    .nav__list-item:not(:last-child) {
        margin-right: 20px;
    }

    /*------------------------footer------------------------------*/
}






/*------------------------768px------------------------------*/

/*------------------------600px------------------------------*/
@media (max-width:599.99px) {

    /*------------------------footer------------------------------*/
    .footer {
        padding: 48px 0;
        border-top: 1px solid rgba(224, 224, 224, 1);
    }

    .footer__nav {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer__img-link {
        margin-bottom: 40px;
    }

    .footer__nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav__list-item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .nav__item-link {
        font-size: 16px;
    }

    /*------------------------footer------------------------------*/
}


/*------------------------600px------------------------------*/


/*------------------------Animation------------------------------*/




/*------------------------Animation------------------------------*/