*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-family: "Inter";
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

/*------------------------header------------------------------*/
.header {
    padding: 20px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav--list {
    display: flex;
}

.header__list-item:not(:last-child) {
    margin-right: 24px;
}

.header__list-link {
    color: #2c2c2c;
    font-weight: 500;
    font-size: 14px;
    line-height: 285%;
    letter-spacing: 0.14px;
    transition: all .3s;
    border-bottom: 1px solid transparent;
}

.header__list-link:hover {
    border-bottom: 1px solid #2c2c2c;
}

.header__interaction {
    display: flex;
    align-items: center;
}

.header__interaction>*:not(:last-child) {
    margin-right: 24px;
}

.header__interacton-in {
    color: #2c2c2c;
    font-weight: 500;
    font-size: 14px;
    line-height: 285%;
    letter-spacing: 0.14px;
}

/*------------------------header------------------------------*/

/*------------------------button------------------------------*/
.button {
    color: #fff;
    padding: 4px 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 285%;
    letter-spacing: 0.14px;
    background: #FD665E;
    border-radius: 4px;
    transition: all .3s;
}

.button:hover {
    background: #ff493f;
}

/*------------------------button------------------------------*/

/*------------------------House------------------------------*/

.house {
    padding: 64px 0;
}
.house__title {
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.92px;
    max-width: 60%;
    margin-bottom: 64px;
}

.house__title>span {
    color: #FD665E;
}

.house__content {
    display: flex;
    gap: 98px;

}

.house__content-left{
    max-width: 305px;
}
.house__content-text {
    line-height: 160%;
    letter-spacing: 0.16px;
    margin-bottom: 40px;
}

.house__content-button {
    padding: 19px 32px;
}

.house__content-img {
    max-width: 100%;
    height: auto;
   
}

/*------------------------House------------------------------*/
/*------------------------Room------------------------------*/

/*------------------------Room------------------------------*/